[submodule "support/company"]
	path = support/company
	url = git://github.com/thisconnect/company.git
[submodule "support/bootstrap"]
	path = support/bootstrap
	url = git://github.com/thisconnect/bootstrap.git
