::selection { background: transparent; }
::-moz-selection { background: transparent; }

body {
	background: #fff;
	font: 12px Arial;
	margin: 0;
	padding: 0;
}

label {
	cursor: pointer;
}

header {
	background: #000;
	color: #fff;
	line-height: 26px;
	padding: 0 10px;
}

.widget {
	border: 1px solid #000;
	display: inline-block;
	margin: 20px 0 0 20px;
	padding: 15px 15px 5px 15px;
	position: relative;
}

.widget h1 {
	font-size: 14px;
	margin: 0 0 5px 0;
}

.widget .remove {
	cursor: pointer;
	position: absolute;
	right: 12px;
	top: 12px;
}

label {
	line-height: 20px;
	vertical-align: bottom;
}

input {
	margin: 0 5px 0 0;
}

input[type=checkbox] {
	vertical-align: 4px;
}
